<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Umpire 1" aria-label="Umpire 1" matInput [formControl]="myControl1" [matAutocomplete]="auto" (click)="doThis()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option1 of umpireFilteredOptions | async" [value]="option1" [(ngModel)]="matchData.umpire1" name="umpire1">
            {{option1}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Umpire 2" aria-label="Umpire 2" matInput [formControl]="myControl1" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option1 of umpireFilteredOptions | async" [value]="option1" [(ngModel)]="matchData.umpire2" name="umpire2">
            {{option1}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input type="text" placeholder="Umpire 3" aria-label="Umpire 3" matInput [formControl]="myControl1" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option1 of umpireFilteredOptions | async" [value]="option1" [(ngModel)]="matchData.umpire3" name="umpire3">
              {{option1}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="City" aria-label="City" matInput [formControl]="myControl2" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option2 of cityFilteredOptions | async" [value]="option2" [(ngModel)]="matchData.city" name="city">
                {{option2}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="matchData.date" name="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          
        <mat-form-field>
            <mat-label>All seasons</mat-label>
            <mat-select value="" [(ngModel)]="matchData.seasons" name="seasons">
        
              <mat-option *ngFor="let year of years;" value={{year}}>{{year}}</mat-option>
            
            </mat-select>
            
          </mat-form-field>

          <mat-form-field>
              <mat-label>Team 1</mat-label>
              <mat-select value="" [(ngModel)]="matchData.team1" name="team1">
          
                <mat-option *ngFor="let team of teams;" value={{team}}>{{team}}</mat-option>
              
              </mat-select>
              
            </mat-form-field>
            <mat-form-field>
                <mat-label>Team 2</mat-label>
                <mat-select value="" [(ngModel)]="matchData.team2" name="team2">
            
                  <mat-option *ngFor="let team of teams;" value={{team}}>{{team}}</mat-option>
                
                </mat-select>
                
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Toss winner</mat-label>
                  <mat-select value="" (click)="tossedTeam()" [(ngModel)]="matchData.toss_winner" name="toss_winner">
              
                    <mat-option *ngFor="let team of playingTeam;" value={{team}}>{{team}}</mat-option>
                  
                  </mat-select>
                  
                </mat-form-field>

    <mat-form-field class="example-full-width">
       <input matInput placeholder="Player of match" value="" [(ngModel)]="matchData.player_of_match" name="player_of_match">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Won by wicket" value="" [(ngModel)]="matchData.win_by_wickets" name="win_by_wickets">
     </mat-form-field>
     <mat-form-field class="example-full-width">
        <input matInput placeholder="Won by runs" value="" [(ngModel)]="matchData.win_by_runs" name="win_by_runs">
     </mat-form-field>

     <label id="example-radio-group-label" class="margin" >Toss Decision</label>
     <mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="matchData.toss_decision">
  <mat-radio-button value="field">Field</mat-radio-button>
  <mat-radio-button value="bat">Bat</mat-radio-button>
</mat-radio-group>

<label id="example-radio-group-label" class="margin" >Result</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="margin"
  [(ngModel)]="matchData.result">
  <mat-radio-button value="normal">normal</mat-radio-button>
  <mat-radio-button value="tie">tie</mat-radio-button>
  <mat-radio-button value="no result">no result</mat-radio-button>
</mat-radio-group>

<mat-checkbox class="margin" [(ngModel)]="matchData.dl_applied">DL Applied</mat-checkbox>

<mat-form-field>
  <mat-label>Winner</mat-label>
  <mat-select value="" (click)="tossedTeam()" [(ngModel)]="matchData.winner" name="winner">

    <mat-option *ngFor="let team of playingTeam;" value={{team}}>{{team}}</mat-option>
  
  </mat-select>
  
</mat-form-field>

<mat-form-field class="example-full-width">
  <input type="text" placeholder="Venue" aria-label="Venue" matInput [formControl]="myControl3" [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option3 of venueFilteredOptions | async" [value]="option3" [(ngModel)]="matchData.venue" name="venue">
      {{option3}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
  
<button type="button" (click)="addMatch()" class="btn btn-primary float-right">Add</button>
  </form>
