
<style>
  

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  

 
 
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink=""><img width="120" src="assets/img/logo.png" /></a>

    <div class="spacer"></div>

    

    <!-- <a routerLink="registration" class="nav-link">Sign-Up</a> -->
    <div>
        <button mat-button [matMenuTriggerFor]="menu"  style="color: blue">Log In</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="!_authService.loggedIn()" routerLink="login">Log-In</button>
          <button mat-menu-item *ngIf="!_authService.loggedIn()" routerLink="register">Sign-Up</button>
          <button mat-menu-item *ngIf="_authService.loggedIn()" routerLink="profile">Profile</button>
          <button mat-menu-item *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Log-Out</button>
          <button mat-menu-item routerLink="registration">Sign-Up</button>
        </mat-menu>
    </div>
  
</div>




<h3>{{user}}</h3>

<div>
<app-menu></app-menu>
<div class="spacer"></div>
<router-outlet></router-outlet>
</div>


<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>